<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qa.fgj.baymin">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 允许访问SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- begin: baidu speech sdk-->
        <meta-data android:name="com.baidu.speech.APP_ID" android:value="9490698"/>
        <meta-data android:name="com.baidu.speech.API_KEY" android:value="URBzbfne7s0Yeh5sWBBZIjHm"/>
        <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="78415dc2ab4fbfc29d7be9bf6aa2dedd"/>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- end : baidu speech sdk-->

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity android:name=".ui.activity.RegisterActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity android:name=".ui.activity.AdviseQAActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.IntroductionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.activity.WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>